<article>
  <div>
    <img src="{{this.image_url}}" alt=""><br>
  </div>
  <div>
    <h2>{{this.name}}</h2> <br>
    <h3>{{this.tagline}}</h3><br>
    <p>
      {{this.description}}<br>
      {{this.foodpairing}}<br>
      {{this.brewertips}}
    </p>
  </div>

</article>