<article class="beercard">
    <div class="image-wrapper">
        <image class="imagebeer" src="{{image_url}}" alt="Beer +{{name}}"></image>
    </div>
    <h2>Name: {{name}}</h2>
     <h3>Tag Line: {{this.tagline}}</h3>
    <p>Description: {{description}}</p>
      
</article>