<div class="beercard">
    <article>

        <image class="imagebeer" src="{{image_url}}" alt="Beer +{{name}}"></image>
        <h2>Name: {{name}}</h2>
        <p>Description: {{description}}</p>
        <h3>Tag Line: {{.tagline}}</h3>
    </article>
</div>