<div class="beerPartial-card">
    <div class="beerPartial-container-img">
        <img src="{{this.image_url}}" alt="Beer {{this.name}}">
    </div>
    <div class="beerPartial-info">
        <h2 class="beerPartial-title">{{this.name}}</h2>
        <h3 class="beerPartial-tagline">{{this.tagline}}</h3>
        <p class="beerPartial-description">{{this.description}}</p>
    </div>
</div>