<div class="home-container">
  <img class="home-img" src={{beer_src}}>
  <a class="home-btn" href="{{check_beer_link}}">{{check_beer}}</a>
  <a class="home-btn" href="{{random_beer_link}}">{{random_beer}}</a>
</div>
