{{#each beers}}
<div class="random-card">
    <img class="random-img" src="{{this.image_url}}" alt="Beer image">
    <div class="random-body">
        <h3 class="card-title">{{this.name}}</h3>
        <h5 clas="card-tagname">{{this.tagline}}</h5>
        <p class="card-text">{{this.description}}</p>
        <h4>Food pairing:</h4>
        <ul class="food">
            {{#each this.food_pairing}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        <p class="tips">{{this.brewers_tips}}</p>
    </div>
</div>
{{/each}}