<section class="random-container-card">
   <div class="random-image-card">
     <img src="{{image_url}}" alt="">
   </div>
   <article class="random-article-card">
         <h3 class="random-title-card">{{name}}</h3>
         <p class="random-tagline-card">{{tagline}}</p>
         <p class="random-description-card">{{description}}</p>
         <span><b>Food Pairing</b></span>
         <ul>
             {{#each food_pairing}}
             <li>{{this}}</li>
             {{/each}}
         </ul>
         <span><b>Brewer tips:</b></span>
         <p>{{brewers_tips}}</p>
    </article>
 </section> 
