<section id="beers-infocard">
    <article class="random-beer">
        <div class="image-wrapper-randombeer">
            {{#if image_url}}
                 <img class="imagebeer" src="{{image_url}}" alt="Beer {{name}}">
            {{/if}}
        </div>
        <div class="text-wrapper-randombeer">
            <h2>Name: {{name}}</h2>
            <h3>Tag Line: {{tagline}}</h3>
            <p>Description: {{description}}</p>
            
            <ul>
                <p><b>Food pairing:</b></p>
                {{#each food_pairing}}
                <li>{{@index}} {{this}}</li>
                {{/each}}
            </ul>
            {{#if this.brewers_tips}}
            <p><b>brewers tips: </b>{{this.brewers_tips}}</p>
            {{/if}}
        </div>
    </article>

</section>